<div class="container pb-5 pt-5">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h2 class="h3-responsive font-weight-bold">Products</h2>
        <div class="form-group">
          <a routerLink="/careline/access/creating_product" class="btn btn-outline-dark btn-sm">New</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <ng2-slim-loading-bar></ng2-slim-loading-bar>
        <table class="table table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Price</th>
            <th>Category</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of products; index as i">
              <td>{{i+1}}</td>
              <td>
                <img [src]="d.imageUrl[0]" class="img img-fluid" width="50" height="50">
              </td>
              <td>{{d.title}}</td>
              <td>{{d.subTitle}}</td>
              <td>{{d.price}}</td>
              <td>{{d.category?.name}}</td>
              <td>
                <button class="btn btn-sm btn-light ml-1 btn-debug">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-light text-center" *ngIf="products.length === 0">
          No Product Found
        </div>
      </div>
    </div>
  </div>
</div>
