.t-margin {
    margin-top: 65px;
}

#a-product{
    color: #fff !important;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
}

#a-product:hover {
    color: purple !important;
    text-decoration: none;
}

.skinlab-bg-img {
    background-image: linear-gradient(to right,#7f8c8d,#eee,#7f8c8d);
    background-size: 800px 100%;
    background-position: 50% 100%; 
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #e2e2e2; /* old IE */
    background-color: #e2e2e2; /* Modern Browsers */
}

.txt-align-middle {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
