
<!-- News jumbotron -->

  <div class=" container text-center p-4">
    <div class="card-body">
      <div class="row" style="padding-bottom: 2.5rem">
        <div class="col-md-2 h6">Search Product:</div>
        <div class="col-md-4">
          <input type="search"  
                  [(ngModel)]="listFilter"/>
        </div>
      </div>
      <div class="row p-5"
            *ngIf="listFilter">
        <div class="col-md-6">
          <h5>Searched Product: {{listFilter}}</h5>
        </div>
      </div>
    </div>

  <!-- Grid row  -->
  <div class="row mask rgba-white-light waves-effect waves-light hoverable mb-2" *ngFor="let product of filteredHaircareProducts">
    <!-- Grid column -->
    <div class="col-md-3 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img [src]="product.imageUrl" [style.width.px]="imageWidth"
        [style.margin.px]="imageMargin" class="img-fluid" alt="{{product.title}}">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    
      <div class="col-md-8 text-md-left ml-3 mt-3 txt-align-middle">
        <h3>{{product.title}}</h3>
        <h5 style="font-weight: bold;">{{product.subTitle}}</h5>
        <p class="font-weight-normal">{{product.description}}</p>
        <p class="font-weight-normal"><strong>{{product.price | currency:"&#8358; ":"symbol":"1.2-2"}}</strong></p>
      </div>
    <!-- Grid column -->
    <hr class="w-100 clearfix">
  </div>
  <!-- Grid row -->

<!-- News jumbotron -->
