footer#footer {
    background: none repeat scroll 0 0 #1b101f;
}

#map {
    height: 100%;
    background-position: 83%;
    background-size: cover;
    background-repeat: no-repeat;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #9C27B0;
    font-weight: bold;
    letter-spacing: 0.0625em;
}

p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03125em;
    font-weight: 400;
    color: #fff !important;
}