hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #e2e2e2; /* old IE */
    background-color: #e2e2e2; /* Modern Browsers */
}

.txt-align-middle {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

div:last-of-type hr {
    display: none;
}
