<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>carelinenigeria </strong></h2>
      <p class="mx-5 mb-5">Care Line, one of the world's leading cosmetics companies, was established in Sydney, 
          Australia in 1982. Underlining its credentials are the advanced research  facilities
          and state-of-the-art manufacturing competencies, which have supported Care Line's 
          geographic expansion to cover the Far East markets.
      </p>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
        <mdb-icon fa icon="clone" class="left"></mdb-icon>View project
      </a>
    </div>
  </div>
</div>