<div class="card card-image">
  <div class="text-white text-center px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-1 mb-4 font-bold text-secondary"><strong class="text-uppercase">About Us</strong></h2>
      <!-- <p class="mx-5 mb-5">
        {{ fetchWriteUp() }}
      </p> -->
      <p class="mx-3 mb-4 text-secondary">
          <strong class="text-uppercase">careline cosmetics and care</strong> established in sydney 
          Australia in 1982 and has 
          become one of the world's leading cosmetic companies. Underlining its credentials are the 
          state of the art manufacturing competency backed by extensive research facilities and its high 
          expertise in induztrial technology. All these supported careline's expansion over 
          Australia and far East,
           gaining the trust of thousands of its clients/customers.
      </p>
      <p class="mx-3 mb-4 text-secondary">
          The key qualities for its success is the unique and wide array of products/services they provide 
          followed by guidance, consultancy and support. These led to a global expansion in
           many countries including; 
          Australia, UK, UAE, Brazil, Algeria, Qatar, Iraq, Jordan, USA, Nigeria etc.
      </p>
      <p class="mx-3 mb-4 text-secondary">
          <strong class="text-uppercase">Careline Nigeria</strong>  is the official distributor of 
          careline/ skinlab cosmetics/ health brand of
          Products in Nigeria and her west african countries, 
          <strong >Careline Nigeria</strong>  is the premier 
          cosmetics store in nigeria,
          west africa, helping you bring out the beauty within. 
          At <strong >Careline Nigeria</strong>  we believe
           in celebrating and embracing
          individuality, offering you a large variety of quality products and services 
         established on the ideals of individualism, 
         <strong>Careline Nigeria</strong> offers beauty 
         products for everyone to enjoy at
          unbeatable rates.
      </p>
      <p class="mx-3 text-secondary">
          We believe that each one of our clients is unique, which is why we provide personalized 
          guidance on 
          selecting items that are perfect for their specific needs. Our team of beauty experts
           have contributed to
           our speedy growth and global presence. Pop into our shop or contact us and 
           see what we are all about today.
          Stop by our store let us pamper you the way you deserve.
      </p>
    </div>
  </div>
</div>