<div class="container-fluid skip-bgc" id="ty">
    <div class="container pb-5" *ngFor="let product of products">
      <div class="row pt-5 pb-5">
        <div class="col-md-4">
          <img class="img-fluid"  [src]="product.imageUrl" alt="{{product.title}}">
        </div>
        <div class="col-md-8 txt-align-middle">
          <h3>{{product.title}}</h3>
          <h5 style="font-weight: bold;">{{product.subTitle}}</h5>
          <p>
            {{product.description}}
          </p>
          <p class="font-weight-normal"><strong>{{product.price | currency:"&#8358; ":"symbol":"1.2-2"}}</strong></p>
        </div>
      </div>
      <hr class="w-100 clearfix">
    </div>
</div>
<div class="container">
    <div class="col-md-12 txt-align-middle pt-3 pb-5">
      <h3 class="text-center">Application</h3>
      <strong>The most common areas to remove hair from are:</strong>
      <p>Facial Hair - Upper Lip, Eyebrows, Chin, Sideburns, Leg Hair - Under Arm Hair - Back Hair - 
        Chest Hair - Pubic Hair/Bikini Line - Ear Hair</p>
      <ul>
        <li>StripSlow™ is safe on sensitive areas of the body including the genital and anal 
          areas and the bikini line.</li>
        <li>You can apply StripSlow™ to the skin before other cosmetic products as it will not 
          interfere with perfumes, aftershaves and skin creams</li>
          <li>StripSlow™ will not clog the pores of your skin or resurface with perspiration</li>
          <li>Your skin will benefit from a conditioning effect protecting it from dryness</li>
          <li>If you prefer to shave to control unwanted body hair, simply apply twice a day until 
            the desired results are achieved</li>
          <li>If you really want a hair solution that is economical and safe to use then always 
            follow up your present method of hair removal such as waxing, sugaring, 
            shaving, tweezing or threading, with an application of StripSlow™</li>
      </ul>
  </div>
</div>


