<div class="container pb-5 pt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="h3-responsive font-weight-bold my-5">Creating Products</h2>
    </div>
    <div class="card-body">
      <form novalidate [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <!-- Category -->
        <div class="form-group">
          <label class="col-md-4" for="category">Category</label>
          <select formControlName="category" class="form-control" id="category"
          [ngClass]="{'is-invalid': (productForm.get('category').touched || productForm.get('category').dirty) && !productForm.get('category').valid }"
        required>
            <option>1</option>
            <option>2</option>
          </select>
          <span class="h3 invalid-feedback">
            <span *ngIf= "!!productForm.get('category').errors?.required">
              <i class="fa fa-info-circle"></i> Category is required.
            </span>
          </span>
        </div>
          <!-- Title -->
        <div class="form-group">
          <label class="col-md-4">Title</label>
          <input type="text" formControlName="title" class="form-control" name="title"
          [ngClass]="{'is-invalid': (productForm.get('title').touched || productForm.get('title').dirty) && !productForm.get('title').valid }"
        required/>
        <span class="h3 invalid-feedback">
          <span *ngIf= "!!productForm.get('title').errors?.required">
            <i class="fa fa-info-circle"></i> Title is required.
          </span>
        </span>
        </div>
          <!-- Subtitle -->
        <div class="form-group">
          <label class="col-md-4">Subtitle</label>
          <input type="text" formControlName="subtitle" class="form-control" name="subtitle"/>
        </div>
          <!-- Price -->
        <div class="form-group">
          <label formControlName="price" class="col-md-4">Price</label>
          <input type="text" class="form-control" name="price"/>
        </div>
          <!-- Description -->
        <div class="form-group">
          <label class="col-md-4" for="descrription">Description</label>
          <textarea formControlName="description" class="form-control" id="descrription" rows="4"
          [ngClass]="{'is-invalid': (productForm.get('description').touched || productForm.get('description').dirty) && !productForm.get('description').valid }"
        required></textarea>
        <span class="h3 invalid-feedback">
          <span *ngIf= "!!productForm.get('description').errors?.required">
            <i class="fa fa-info-circle"></i> Description is required.
          </span>
        </span>
          <!-- Image Upload -->
        </div>
        <div class="form-group">
          <label class="col-md-4" for="image_upload">Image Upload</label>
          <input type="file" formControlName="image_upload" class="form-control-file" id="image_upload"
          [ngClass]="{'is-invalid': (productForm.get('image_upload').touched || productForm.get('image_upload').dirty) && !productForm.get('image_upload').valid }"
        required>
        <span class="h3 invalid-feedback">
          <span *ngIf= "!!productForm.get('image_upload').errors?.required">
            <i class="fa fa-info-circle"></i> Image is required.
          </span>
        </span>
        </div>
          <!-- Submit Button -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Create Product</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <p>
    Form value: {{ productForm.value | json }}
  </p>
  <p>
    Form Status: {{ productForm.status }}
  </p>
</div>
