<div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="padding-left: 0; padding-right: 0">
            <!-- Skin-pro image -->
            <img class="img-fluid" src="assets/images/skin-pro.jpg" alt="skin-pro">
            <!-- Skin-pro image -->
        </div>
      </div>
    </div>
  
    <div id="tb-padding" [ngClass]="'skinlab-bg-img'">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Skinlab product image -->
              <img class="img-fluid"  src="assets/images/the-bright-product-new.png" alt="the-bright-product-new">
            <!-- Skinlab product image -->
          </div>
          <div class="col-md-6">
            <!-- read-more -->
            <cn-readmore>
              <h4 class="h4 mb-4">The BRIGHT ROUTINE</h4>
              <p><b>Step 1</b> <br>
                Cleanse your face with warm water to open the pores and clean away dirt. 
                Opening the pores allows the cream or oils to penetrate the skin more effectively. 
                You can apply a toner afterwards if you use one.
              </p>
              <p><b>Step 2</b> <br>
                Rinse the skin with warm water and pat dry.
              </p>
              <p><b>Step 3</b> <br>
                Now it’s time to apply the skin whitening serum or cream to the affected area as directed. 
                It is best to use the fingertips to apply the cream in a circular motion, gently rubbing 
                it into the skin.
              </p>
              <p>You need to use the cream on a regular basis to achieve the best results and you will 
                need to be patient! You will probably see a noticeable difference after a couple of weeks 
                but a complete transformation may take a few months. The results will depend on your skin 
                colour to start with and the desired skin tone you are trying to achieve.
              </p>  
              <p>Once you achieve your desired skin tone you should continue to use the whitening cream 
                but not as regularly as you did before.
              </p> 
              <p> Can I apply more than one skin whitening product? </p>
                
              <p>Yes you can use more than one whitening product. Simply apply the products one after the other. 
                Try to use the product with the lightest texture first and the heavier lotion last. 
                Note: If you’re using a rich cream with multiple lightening agents like SKINLAB Illumine 
                then you don’t need to apply more creams.
              </p>
              <p><b>Step 4</b> <br>
                Remember it is <b>essential</b> that you use sunscreen during the day if you are going outdoors
                or even indoors behind windows.
              </p>
              <p><b>Step 5</b> <br>
                You should then exfoliate the area of skin to be lightened on a weekly basis. 
                This involves removing dead skin cells to expose the fresh new skin cells beneath. 
                You can apply exfoliating cream in a circular motion. Try using a natural lightening 
                scrub like lemon and sugar. Unless you're skin is sensitive, go for a softer exfoliating
                scrub like Saffron or Strawberry seeds.
              </p>
            </cn-readmore>
            <!--/ read-more -->
          </div>
        </div>
      </div>
    </div>
  </div>
  