

<!-- Section: Testimonials v.2 -->
<section class="text-center my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" [animation]="'slide'" class="testimonial-carousel">
    <!--First slide-->
    <mdb-slide>
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto mb-4">
          <img src="assets/images/tessyChucks.jpg" width="200" class="rounded-circle img-fluid"
            alt="First sample avatar image">
        </div>
        <!--Content-->
        <div class="container">
          <p>
            <i class="fa fa-quote-left"></i> 
              One of the best skin products ever so so unique amazing beauty skin care product
            <i class="fa fa-quote-right"></i>
          </p>
        </div>
        <h4 class="font-weight-bold">Tessy Chucks</h4>
        <!-- <h6 class="font-weight-bold my-3">Founder at ET Company</h6> -->
        <!--Review-->
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto mb-4">
          <img src="assets/images/tochukwuMichael.jpg" width="200" class="rounded-circle img-fluid"
            alt="Second sample avatar image">
        </div>
        <!--Content-->
        <div class="container">
          <p>
            <i class="fa fa-quote-left"></i> 
            Very special product, very active, its smoothens your skin one time... very natural 
            <i class="fa fa-quote-right"></i> 
          </p>
        </div>
        <h4 class="font-weight-bold">Tochukwu Michael Tochukwu</h4>
        <!--Review-->
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto mb-4">
          <img src="/assets/images/RichardChukwu.jpg" width="200" class="rounded-circle img-fluid"
            alt="Third sample avatar image">
        </div>
        <!--Content-->
        <div class="container">
          <p>
            <i class="fa fa-quote-left"></i> 
            Excellent range of products. Soothing and appropriate for a variety of skin care need. I recommend 
            it for everyone. 
            <i class="fa fa-quote-right"></i>
          </p>
        </div>
        <h4 class="font-weight-bold">Richard Chukwu</h4>
        <!--Review-->
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
        <i class="fa fa-star blue-text"> </i>
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</section>
<!-- Section: Testimonials v.2 -->

