
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item>

    <img class="d-block w-100" src="/assets/images/DSC_0103.JPG" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
  <div [ngClass]="'bg-img'">
    <img class="d-block w-100" src="/assets/images/1++.png"  alt="Second slide">
  </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="/assets/images/IMG_6218 (2).jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>

  <!-- Products description -->
  <section class="text-center pt-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Products</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5 pr-2 pl-2">
      Caline/skinlab brands are top notch cosmestics products dermatologically tested and 
      designed to cater for all skin types.
    </p>
  
    <!-- Grid row -->
    <div class="row">
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-4 mb-md-0 mb-4">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="/assets/images/stripslow.png" class="img-fluid">
        </div>
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Stripslow</h4>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-4 mb-lg-0 mb-4">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="assets/images/charcoal-deep-cleansing.png" class="img-fluid">
        </div>
        <!--Name-->
        <h4 class="font-weight-bold mb-4">Charcoal Deep Cleansing</h4>          
    </div>
    <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-4">
          <!--Background color-->
          <div class="card-up indigo"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="/assets/images/Keratin-conditioner.png" class="img-fluid">
          </div>
            <!--Name-->
            <h4 class="font-weight-bold mb-4">Keratin Conditioner</h4>
      </div>
      <!--Grid column-->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Products description -->

  
  <div class="pt-5">
    <!-- Services heading -->
    <h2 class="h1-responsive font-weight-bold my-5 text-center">Services</h2>

    <!-- Services description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5 pl-3 pr-3">
 Derma diagonises and recommendation, treatment of skin and skin related diseases, skin 
 care, hair beauty, fragrance, make up. Our services cuts accross beauty spars, saloons, phermacies, 
 hospitals, supermarkets etc. we are represented in all states through our distributors. 
 We also have our branded shops close to you.
    </p>
  </div>