
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item>

    <img class="d-block w-100" src="/assets/images/DSC_0103.JPG" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
  <div [ngClass]="'bg-img'">
    <img class="d-block w-100" src="/assets/images/1++.png"  alt="Second slide">
  </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="/assets/images/IMG_6218 (2).jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>

<!-- Products description -->
<section class="text-center pt-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Products</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5 pr-2 pl-2">
    Caline/skinlab brands are top notch cosmestics products dermatologically tested and 
    designed to cater for all skin types.
  </p>
</section>
  

<div class="container">
  <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Featured image-->
      <div class="rounded mb-4">
        <img width="250" src="http://res.cloudinary.com/carelinenigeria/image/upload/v1554774767/iksvz0nmerz159he4auc.png" 
        class="img-fluid" alt="Shea Butter">
        <a routerLink="/products/shea-butters" routerLinkActive="active">
          <div alt="Shea Butter" class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <!--Excerpt-->
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>Shea Butter</strong>
      </h4>
      <p>Extracted from the nut of the African Shea 
          tree, packed in an unrefined form, CareLine provides a purely organic.</p>
      <a routerLink="/products/shea-butters" routerLinkActive="active" class="btn btn-secondary btn-rounded btn-md waves-effect waves-light" id="homepage-btn-news-1" alt="Breaking news">Read more</a>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Featured image-->
      <div class="rounded mb-4">
        <img width="180" src="http://res.cloudinary.com/carelinenigeria/image/upload/v1554435575/lpeal4z6taniuw3zm4yg.png" class="img-fluid" alt="First sample image">
        <a routerLink="/products/babyline" routerLinkActive="active">
          <div alt="BABY DIAPER RASH CREAM" class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <!--Excerpt-->
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>Baby Diaper Rash Cream</strong>
      </h4>

      <p>Baby Rash diaper rash treatment is a hypoallergenic cream that can be applied on all skin types.</p>

      <a routerLink="/products/babyline" routerLinkActive="active" class="btn btn-secondary btn-rounded btn-md waves-effect waves-light" id="homepage-btn-news-2" alt="Angular tutorial">Read more</a>
      
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Featured image-->
      <div class=" rounded  mb-4">
        <img width="250" src="http://res.cloudinary.com/carelinenigeria/image/upload/v1554430585/z20ihlaywuhief3t3k0p.png" 
        class="img-fluid" alt="CUCUMBER AND MINT">
        <a routerLink="/products/deep-cleansing-strips" routerLinkActive="active">
          <div alt="CUCUMBER AND MINT" class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <!--Excerpt-->
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>Cucumber and Mint</strong>
      </h4>

      <p>Rich in menthol and anti-bacterial properties, 
          mint is a precious gift of mother 
          nature which is bestowed upon us</p>

      <a routerLink="/products/deep-cleansing-strips" routerLinkActive="active" class="btn btn-secondary btn-rounded btn-md waves-effect waves-light" id="homepage-btn-news-3" alt="New Angular Plugins">Read more</a>
    </div>
    <!--Grid column-->

  </div>
</div>

<div class="pt-5">
  <!-- Services heading -->
  <h2 class="h1-responsive font-weight-bold my-5 text-center">Services</h2>

  <!-- Services description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5 pl-3 pr-3">
    Derma diagonises and recommendation, treatment of skin and skin related diseases, skin 
    care, hair beauty, fragrance, make up. Our services cuts accross beauty spars, saloons, phermacies, 
    hospitals, supermarkets etc. we are represented in all states through our distributors. 
    We also have our branded shops close to you.
  </p>
</div>